{% extends "base.html" %}

{% block content %}
  <h1>Welcome to HollyMovies!</h1>
    <a href="{% url 'movie_create' %}"> Add movie </a>

    <h1>Filmy:</h1>
    {% for movie in object_list %}

    <br>
    <br>
    <br>
      <h2>Film: {{ movie.title }} ({{ movie.released.year }}) - {{ movie.genre.name }}</h2>
          {% for actor in movie.actor_set.all %}
              <h4>Actor: {{ actor }}</h4>
              {% endfor %}
          <a href="{% url 'movie_update' movie.pk %}"> Update </a>
      <a href="{% url 'movie_delete' movie.pk %}"> Delete </a>

    {% endfor %}

    
{% endblock %}